/*******************************
ALERTS STYLES
********************************/

.notifications-popups {
    position: fixed;
    z-index: 9999;
    right: 20px;
    bottom: 20px;
    height: auto;

    .notifications-popup {
        display: none;
        margin-top: 15px;
        padding: 10px;
        width: 320px;
        border: 0;
        border-radius: 5px;
        line-height: 22px;
        font-family: "Open Sans", sans-serif, "Arimo";
        font-size: 12px;
        color: #8993aa;    
        background-color: #fff;
        -webkit-box-shadow: 0px 2px 5px #00000014;
        box-shadow: 0px 2px 5px #00000014;

        & > div {

            a {
                border-bottom: 1px solid transparent;
                color: #41495b;
    
                &:hover {
                    border-bottom: 1px solid #41495b;
                    text-decoration: none;
                }
    
            }

        }

        .notifications-popup-close-btn {
            position: absolute;
            margin-top: -22px;
            right: -7px;
            padding: 3px;
            height: 23px;
            border-radius: 50%;
            color: #c0cddc;
            background-color: #FFFFFF;
            
            &:hover {
                border: 0;    
                color: #212529;
                box-shadow: none !important;
            }

            .bi {
                width: 20px;
                height: 20px;
            }

        }

        img,
        video,
        iframe {
            max-width: 100%;
            border-radius: 5px;
        }

        iframe {
            margin-bottom: -5px;
        }

    }

}

.notifications-promo {
    display: none;
    position: fixed;
    z-index: 20000001;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.33);
    
    .notifications-promo-banner {
        position: relative;
        margin: auto;
        width: 500px;    
        min-height: 30px;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        -moz-box-sizing: content-box !important;
        -webkit-box-sizing: content-box !important;
        -o-box-sizing: content-box !important;
        box-sizing: content-box !important;
        overflow: visible;
        transform: scale(0);
        transition: all 1s;
        opacity: 0;

        .notifications-promo-close-btn {
            position: absolute;
            margin-top: 10px;
            right: 15px;
            padding: 0;
            width: 23px;
            height: 23px;
            border-radius: 50%;
            color: #c0cddc;
            background-color: rgba(255, 255, 255, 0.10);
            
            &:hover {
                border: 0;    
                color: #212529;
                background-color: #FFFFFF;
                box-shadow: none !important;
            }

            .bi {
                width: 24px;
                height: 24px;
                font-size: 24px;
            }

        }

        img,
        video,
        iframe {
            max-width: 100%;
            border-radius: 5px;
        }

        iframe {
            margin-bottom: -10px;
        }
        
    }

}